<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> /blog/ </title>
    <link rel="icon"
          type="image/png"
          href="/img/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/blog">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if not logged %}
            <li><a href="/blog/signup">Signup</a></li>
            <li><a href="/blog/login">Login</a></li>
            {% else %}
            <li><a href="/blog/newpost">Newpost</a></li>
            <li><a href="/blog/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
