{% extends "base.html" %}

{% block content %}
    <body>
    {% for post in posts %}
        <div class="post">
            <div class="post-heading">
                <a href="/blog/{{ post.key().id() }}" class="post-title">{{ post.subject }}</a>
                <div class="post-date">{{ post.created.strftime('%b %d, %Y') }}</div>
                <div class="post-like">Likes: {{ post.liked_by|length }}</div>
            </div>
            <pre class="post-content">{{ post.content }}</pre>
            <br>
            {% if logged %}
                {% if user.name == post.author %}
                    <a class="btn btn-default" href="/blog/edit/{{ post.key().id() }}">edit</a>
                    <a class="btn btn-default" href="/blog/delete/{{ post.key().id() }}">delete</a>
                {% else %}
                    <a href="/blog/like/{{ post.key().id() }}" class="link">like</a>
                {% endif %}
            {% endif %}
            {% if user and post.comments %}
                <div>
                    <span></span>
                </div>

                <div class="post-comments">
                    {% if post.comments.count() > 1 %}
                        {% set ending = 's' %}
                    {% endif %}
                    <h4 class="comment-title">{{ post.comments.count() }} comment{{ ending }}</h4>

                    {% for c in post.comments %}

                        <div class="comments">
                            <div class="comment-author">{{ c.parent().name }} says:</div>
                            <p class="comment-content">{{ c.comment }}</p>
                            {% if user.name == c.author %}
                                <a href="/blog/{{ post.key().id() }}/editcomment/{{ c.key().id() }}"
                                   class="btn btn-default btn-xs">Edit comment</a>
                                <a href="/blog/{{ post.key().id() }}/deletecomment/{{ c.key().id() }}"
                                   class="btn btn-default btn-xs">Delete comment</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <br>
                    <a href="/blog/{{ post.key().id() }}/newcomment?post={{ post.key().id() }}"
                       class="btn btn-default btn-xs">Add new comment</a>

                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
