{% extends "base.html" %}

{% block content %}
<div class="content">
    <input type="hidden" name="author" value="{{user.name}}">
    <div class="post-heading">
        <a href="/blog/{{post.key().id()}}" class="post-subject">{{post.subject}}</a>
        <div class="post-date">{{post.created.strftime('%b %d, %Y')}}</div>
        <div class="post-like">Likes: {{post.liked_by|length}}</div>
        {% if logged %}
        {% if user.name == post.author %}
        <a class="edit-link btn btn-primary" href="/blog/edit/{{post.key().id()}}">edit</a>
        <a class="edit-link btn btn-primary" href="/blog/delete/{{post.key().id()}}">delete</a>
        {% else %}
        <a href="/blog/like/{{post.key().id()}}" class="link">like</a>
        {% endif %}
        {% endif %}
    </div>
    <pre class="post-content">{{post.content}}</pre>
    {% for comment in post.comments %}
    <pre class="post-content text-lowercase small">Comments: {{comment}}</pre>
    {% endfor %}
    {% if logged %}
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea name="content" id="comment">{{comment}}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    {% endif %}
    {{check}}
</div>
{% endblock %}
