{% extends "base.html" %}

{% block content %}
    <form method="post">
        <div class="container-fluid">
            <div class="form-group">
                <label for="login">Login</label>
                {% if error %}
                    {% set class = "text has-error" %}
                    <p class="error">{{ error }}</p>
                {% else %}
                    {% set class = "text" %}

                {% endif %}
                <input class="{{ class }}" id="login" name="username" value="{{ username }}">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="text" id="password" name="password" value="{{ password }}">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
{% endblock %}
