{% extends "base.html" %}

{% block content %}
    <form method="post">
        <div class="container-fluid">
            <div>New Comment for <a href="/blog/{{ pkey.id() }}">{{ subject }}</a></div>
            <p>{{ content }}</p>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment">{{ comment }}</textarea>
            </div>
            <div class="form-group">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            {% if edit %}
                <a href="/blog/{{ pkey.id() }}" class="btn btn-default">Cancel</a>
            {% endif %}
        </div>

    </form>
{% endblock %}
