{% extends "base.html" %}

{% block content %}
<form method="post">
    <div class="container-fluid">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" value={{subject}}>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content">{{content}}</textarea>
        </div>
        <div class="form-group">
            {% if error %}
            <p class="error">{{error}}</p>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        {% if edit %}
        <button><a href="/blog/{{post.key().id()}}" class="post-subject">Cancel</a></button>
        {% endif %}
    </div>
</form>
{% endblock %}
