{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="post-heading">
        <a href="/blog/{{post.key().id()}}" class="post-subject">{{post.subject}}</a>
        <div class="post-date">{{post.created.strftime('%b %d, %Y')}}</div>
        <div class="post-like">Likes: {{post.likes|length}}</div>

    </div>
    <pre class="post-content">{{post.content}}</pre>
    <pre class="post-content text-lowercase small">Comments: {{post.comments}}</pre>
    {% if logged %}
    <form method="post">
        <span><input name="options" type="radio" checked value="like"/> like </span>
        <span><input name="options" type="radio" checked value="update"/> update  </span>
        <span><input name="options" type="radio" checked value="delete"/> delete </span>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {% endif%}
</div>
{% endblock %}
