{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="post-heading">
        <a href="/blog/{{post.key().id()}}" class="post-subject">{{post.subject}}</a>
        <div class="post-date">{{post.created.strftime('%b %d, %Y')}}</div>
        <div class="post-like">Likes: {{post.likes|length}}</div>
    {% if logged %}
        <a href="/blog/like/{{post.key().id()}}" class="link">like</a>
        <a href="/blog/edit/{{post.key().id()}}" class="link">edit</a>
        <a href="/blog/delete/{{post.key().id()}}" class="link">delete</a>
    {% endif%}
    </div>
    <pre class="post-content">{{post.content}}</pre>
    <pre class="post-content text-lowercase small">Comments: {{post.comments}}</pre>
</div>
{% endblock %}
